[submodule "LTU-D0017D-exam-1"]
	path = LTU-D0017D-exam-1
	url = https://github.com/Plarpoon/LTU-D0017D-exam-1.git
[submodule "LTU-D0017D-exam-2"]
	path = LTU-D0017D-exam-2
	url = https://github.com/Plarpoon/LTU-D0017D-exam-2.git
[submodule "LTU-D0017D-exam-3"]
	path = LTU-D0017D-exam-3
	url = https://github.com/Plarpoon/LTU-D0017D-exam-3.git
[submodule "LTU-D0017D-exam-4"]
	path = LTU-D0017D-exam-4
	url = https://github.com/Plarpoon/LTU-D0017D-exam-4.git
[submodule "LTU-D0017D-exam-5"]
	path = LTU-D0017D-exam-5
	url = https://github.com/Plarpoon/LTU-D0017D-exam-5.git
